PORT=8760
SESSION_SECRET=secretsssss
DATABASE_URL=postgres://ruth:ruth@localhost:15432/ruth
TEMAS_ROOTS_HOST=http://votacion-roots-stg.herokuapp.com
TEMAS_ROOTS_API_KEY=
BACKOFFICE_SECRET=secreto
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
MAIL_DESTINATION=
MAIL_SENDER_ADDRESS=
MAIL_PORT=
