PORT=8760
SESSION_SECRET=secretsssss
DATABASE_URL=postgres://ruth:ruth@localhost:15432/ruth
TEMAS_ROOTS_HOST=http://votacion-roots-stg.herokuapp.com
TEMAS_ROOTS_API_KEY=
BACKOFFICE_SECRET=secreto
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
MAIL_DESTINATION=
MAIL_SENDER_ADDRESS=
MAIL_PORT=
MAIL_SENDER_NAME=Ruth
MESSAGE_TESTING=true
#Si MESSAGE_TESTING está en true se hace un console.log, para cada action item, indicando el dueño del mismo y su descripcion.
#Si está en false se le envía un mensaje directo al dueño del action item (buscandolo por su email) a slack.

