PORT=8760
SESSION_SECRET=secretsssss
DATABASE_URL=postgres://ruth:ruth@localhost:15432/ruth
TEMAS_ROOTS_HOST=http://votacion-roots-stg.herokuapp.com
TEMAS_ROOTS_API_KEY=
BACKOFFICE_SECRET=secreto
MAILGUN_SMTP_SERVER=
MAILGUN_SMTP_LOGIN=
MAILGUN_SMTP_PASSWORD=
MAIL_DESTINATION=
MAIL_SENDER_ADDRESS=
MAILGUN_SMTP_PORT=
MAIL_SENDER_NAME=Ruth
